
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 2rem;
    min-height: 100vh;                                                
    background-image: radial-gradient(white,steelblue);
    display: flex;       
    flex-direction: column;
}
header,nav,main,footer{
    display: grid;
    grid-template-columns: 100%;                                     
    place-content: center;                                            
    text-align: center;                                               
}
header,footer {
    background-color: #046ef8;
    position: sticky;
}
header{top: 0;}
footer{bottom: 0;}

main{
    flex-grow: 1;
}
nav{
    background-color: whitesmoke;
    color: black;
}
